html,body{
	height: 100%;
	background-color: #696969!important;
}
.global-container{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: lightsteelblue;
}
.login-form{
	weight:380px ;
	height: 450px;
	padding: 20px;
	background-color: #808080 !important;
	border-radius: 10px !important;
}
.input_auth
{
	background-color:#DCDCDC ;
	color: black;
	border: 2px solid lightsteelblue;
	border-radius: 10px;
	margin-bottom: 25px;
}

.input_auth:focus{
	outline: none;
	border: none;
	background: #DCDCDC;
	color: #fff;
	margin-bottom: 25;
}
